<%= form_for(@db_connect, @schemas) do |f| %>
  <% if @db_connect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@db_connect.errors.count, "error") %> prohibited this db_connect from being saved:</h2>

      <ul>
      <% @db_connect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data_base,  'База данных'%><br>
    <%= f.text_field :data_base %>
  </div>
  <div class="field">
    <%= f.label :username,  'Пользователь' %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password,  'Пароль' %><br>
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit 'Принять'%>
    <%= link_to 'Назад', db_connects_path %>
  </div>
<% end %>
