

<h1>Доступные подключения к базам</h1>

<table class = "table-striped">
  <thead>
    <tr>
      <th>База данных</th>
      <th>Пользователь</th>
      <th>Пароль</th>
      <th>Действие</th>
    </tr>
  </thead>

  <tbody>
    <% @db_connects.each do |db_connect| %>
      <tr>
        <td><%= link_to db_connect.data_base, schemas_path(db_connect) %></td>
        <td><%= db_connect.username %></td>
        <td> **** </td>
        <td><%= link_to 'Изменить', edit_db_connect_path(db_connect) %> <%= link_to 'Удалить', db_connect, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Новое подключение', new_db_connect_path %>
