<!DOCTYPE html>
<html>
<head>
  <title>Railsadmin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="field">
    <a href="/db_connects">Список подключений</a>
</div>
<p id="notice"><%= notice %></p>
<% if @schema%>
	<div class="container-fluid">

	      <ul class = "tables_list">
			
	          <li class = "nav-header">
	            <br>
	            <%= label_tag :name, "Доступные таблицы"%> 
	            <%= select_tag :name, options_for_select(@schema.get_tables, @name), id: "table-list",  style: "width:300px",  data: {url: schemas_path(@db_connect)} ,include_blank: true%>
	          </li>
      </ul>
	</div>
<% end %>

<%= yield %>

</body>
</html>
