
<% unless @model %>
	<h1> Пожалуйста, выберите таблицу</h1> 
<% else %>
	<h1> <%=  @name.humanize %></h1> 
        <p>

  <%= search_form_for @search , url: schema_path(@db_connect, name: @name)do |f| %>
	  <%= f.label :id %>
	  <%= f.search_field :id %>
	  <%= f.submit %>
  <% end %>

  		</p>
	  <% if @columns_names.include?("id")%>
   <%= link_to 'Добавить',new_abstract_path(@db_connect, name: @name)%>
      <% end %>
      <%= paginate @collection %>
	<table class = "tableelem" border="1">

	    <thead>
	      <tr>
	       <% @columns_names.each do |name| %>
	          <th><%= name %></th>
	       <% end %>
	       <th>Действие</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @collection.each do |res| %>
	         <tr>
	          <% @columns_names.each do |attr| %>
		            <td>
		              <% if attr == "id" %>
		                <%= link_to(res.send(attr), abstract_path(res, connection_id: @db_connect.id, name: @name)) %>
		              <% else %>
		                <%= format_value(res.send(attr)) %>
		                <% end %>
		           </td>
	          <% end %>


	           <td>
	        <%  if res.respond_to?(:id) && !res.id.blank?  %>
             <%= link_to "Редактировать",
                edit_abstract_path(res, connection_id: @db_connect.id, name: @name)%>

              <%= link_to "Удалить",
                abstract_path(res, connection_id: @db_connect.id, name: @name), method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
	           </td>
	         </tr>
	       <% end %>
	     </tbody>
    </table>
    <%= paginate @collection %>
<% end %>
